<input type="hidden" name="room_id">

<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <!-- Grid column -->
            <div class="col">

                <!-- Exaple 1 -->
                <div class="card example-1 gray-box scrollbar-deep-green bordered-deep-green thin" id="scrollbar">
                    <div class="card-body">
                        <div class="messages">

                        </div>
                        <hr class="clear">
                    </div>
                </div>
                <!-- Exaple 1 -->

            </div>
        </div>

        <form id="chat">
            <input type="hidden"  name="username" value="{{username}}">
            <input type="hidden"  name="_id" value="{{user_id}}">

            <textarea id="message" name="message" class="form-control mt-2" placeholder="Digite sua mensagem"></textarea>

            <button type="submit" class="btn btn-success mt-2">Enviar</button>
        </form>

        <script>
            var socket = io('http://0.tcp.sa.ngrok.io:18592/');

            function equals(v1, v2){
                if(v1 == v2)
                    return 'class="message me mb-2 float-sm-right"'
                return 'class="message other mb-2 float-sm-left"'
            }

            function renderMessage(message){
                var text = equals("{{user_id}}", message.author_id)
                $('.messages').append({{>_message}})
                $("#scrollbar").scrollTop($("#scrollbar")[0].scrollHeight);
            }

            socket.on('previousMessages', function(messages){
                for(message of messages){
                    renderMessage(message)
                }
            });

            socket.on('receivedMessage', function(message){
                renderMessage(message)
            });


            $("#chat").submit(function(event){
                event.preventDefault();

                var author_id = $("input[name=_id]").val()
                var author = $("input[name=username]").val()
                var message = $("textarea[name=message]").val()


                if(author.length && message.length){
                    var messageObject = {
                        author_id: author_id,
                        author: author,
                        message: message
                    }

                    renderMessage(messageObject)

                    socket.emit('sendMessage', messageObject)
                }
                $("textarea[name=message]").val("")
            })

            $('#message').keydown(function() {
                var message = $("textarea[name=message]").val();
                if (event.keyCode == 13) {
                    if (message == "") {
                        
                    } else {
                        $('#chat').submit();
                    }
                    $("textarea").val('');
                    return false;
                }
            });
        </script>

    </div>
</div>



