<div class="jumbotron">
  <h1 class="">Olá, seja bem-vindo ao ChatApp!</h1>
  <p class="lead">
      ChatApp é um sistema simples de troca de mensagens baseado em salas. 
      Crie novas salas, adicione seus amigos e coverse sobre o que quiser!
  </p>
  <hr class="my-4">
  <p><strong>Atenção:</strong></p>
  <p>Esse sistema ainda está em desenvolvimento e foi feito apenas para fins de estudo.</p>
  
  {{#if user}}
  {{else}}
  <a class="btn btn-primary btn-lg" href="/user/register" role="button">Registre-se já!</a>
  {{/if}}
</div>
<p>
    Deixo meus agradecimentos ao canal <a href="https://www.youtube.com/channel/UC_issB-37g9lwfAA37fy2Tg" style="text-decoration: none;">Victor Lima - Guia do programador</a>,
    que postou de forma gratuíta e bem explicada um curso sobre node, que me auxíliou bastante neste projeto, e também ao canal  
    <a href="https://www.youtube.com/channel/UCVDoZcj26_FJ9BrpQWcfT7Q" style="text-decoration: none;">  Seasoned Bytes </a>.
</p>